
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 { 
  color: black; 
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 300; 
  line-height: 58px; 
  margin: 0 0 58px; 
}
body {
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 100vh;
	background-color: #ddd; margin: 3rem;
}

.tv {
	color: #434343;
  border-radius: 1px;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  border-radius: 1px;
  transition: all .4s ease;
  padding: 30px;
  transition: all .4s ease;

}

.tv-1 {
  border-radius: 1px;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}

button {
  position: relative; 
  top: 10px;
  padding: .5rem 2.5rem;
  font-size: .95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: whitesmoke;
  background: blueviolet;
  border-radius: 35px;
}

input {
  box-sizing: border-box;
  width: 45%;
  outline: none;
  margin:0;
  border: 1px solid #dbdbdb;
  font-size: 1.6em;
  padding: .8em .5em;
  border-radius: 2px;
}

.login{
  position: relative;
  top: 40px;
}

.getuser{
  position: relative;
  top: 30px;

}